<div class="">
  <h3>Thông tin Sữa</h3>
    <mat-form-field appearance="fill">
      <mat-label>Loại sữa</mat-label>
      <mat-select>
        <mat-option value="option1">Sữa tươi</mat-option>
        <mat-option value="option2">Sữa đặc</mat-option>
        <mat-option value="option3">Sữa chua</mat-option>
        <mat-option value="option3">Sữa bột</mat-option>
      </mat-select>
    </mat-form-field>
  <div class="input-group mb-3">
    <span class="input-group-text" id="gioitinh">Giới tính</span>
    <div class="form-check mx-2">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label mx-2" for="flexRadioDefault1">
        Nam
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label mx-2" for="flexRadioDefault2">
        Nữ
      </label>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="dt">Số điện thoại</span>
    <input type="text" class="form-control" aria-describedby="dt">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="diachi">Địa chỉ</span>
    <input type="text" class="form-control" aria-describedby="diachi">
  </div>
  <button class="btn btn-primary mx-3" type="submit">Lưu trữ</button>
  <button class="btn btn-warning mx-3" type="submit">Làm mới</button>

</div>
