<div class="">
  <h3>Thông tin Sữa</h3>
    <mat-form-field appearance="fill">
      <mat-label>Loại sữa</mat-label>
      <mat-select>
        <mat-option value="option1">Sữa tươi</mat-option>
        <mat-option value="option2">Sữa đặc</mat-option>
        <mat-option value="option3">Sữa chua</mat-option>
        <mat-option value="option3">Sữa bột</mat-option>
      </mat-select>
    </mat-form-field>
  <div class="input-group mb-3">
    <span class="input-group-text" id="ms">Mã sữa</span>
    <input type="text" class="form-control" aria-describedby="dt">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="ts">Tên sữa</span>
    <input type="text" class="form-control" aria-describedby="dt">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="tl">Trọng lượng</span>
    <input type="text" class="form-control" aria-describedby="diachi">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="dg">Đơn giá</span>
    <input type="text" class="form-control" aria-describedby="diachi">
  </div>
  <button class="btn btn-primary mx-3" type="submit" (click)="createOrUpdateProduct()">Lưu trữ</button>
  <button class="btn btn-warning mx-3" type="submit">Làm mới</button>

</div>
